<form action="{% url 'interfaces' %}" method="post">
    {% csrf_token %}
    <table class="table table--striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th class="text-center hidden-xs-down">Current Admin State</th>
                <th class="text-center hidden-xs-down">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for interface in interface_list %}
            <tr>
                {% if interface.name == "GigabitEthernet1" %}
                {% include "./read_only_interface.html" %}
                {% else %}
                {% include "./read_write_interface.html" %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
