{% load static %}
{% spaceless %}
<!DOCTYPE html>
<html lang="en">
    {% include 'head.html' %}
    <body class="cui cui--compressed">
        <div class="content-fluid">
            {% if user.is_authenticated %}
                {% include 'sidebar.html' %}
                <main>
                    <header id="styleguideHeader" class="header">
                        <div class="header-bar container">
                            <a href="javascript:;" class="btn btn--small btn--icon toggle-menu disabled">
                                <span class="icon-list-menu"></span>
                            </a>
                            <a href="{% url 'home' %}" class="header-bar__logo">
                                <span class="icon-cisco"></span>
                            </a>
                            <div class="header-bar__main">
                                <div class="header-heading">
                                    <h1 class="page-title">L3 Reachability Tester</h1>
                                </div>
                                <div class="header-menus">
                                    <ul class="nav nav-tabs">
                                        <li class="tab">
                                            <a href="{% url 'home' %}"><div class="tab__heading" title="Home">Home</div></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="header-toolbar">
                                <div class="dropdown dropdown--center half-margin-right">
                                    <button class="btn btn--icon" data-balloon="User settings" data-balloon-pos="down" data-balloon-length="small"><span class="icon-admin"></span></button>
                                    <div class="dropdown__menu">
                                        <a href="{% url 'password_change' %}">Change Password</a>
                                    </div>
                                </div>
                                <a href="mailto:omaslara@cisco.com?Subject=L3%20Reachability%20Tester%20Feedback" class="btn btn--icon" data-balloon="Feedback" data-balloon-pos="down" data-balloon-length="small">
                                    <span class="icon-feedback"></span>
                                </a>
                                <a href="mailto:omaslara@cisco.com?Subject=L3%20Reachability%20Tester%20Help" class="btn btn--icon" data-balloon="Help" data-balloon-pos="down" data-balloon-length="small">
                                    <span class="icon-help"></span>
                                </a>
                                <a href="{% url 'logout' %}" class="btn btn--icon" data-balloon="Logout" data-balloon-pos="down" data-balloon-length="small">
                                    <span class="icon-sign-out"></span>
                                </a>
                            </div>
                        </div>
                    </header>
                    <div class="content">
                        <div class="container">
                            <div class="panel half-margin-top half-margin-bottom">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col-md-8">
                                        {% include 'messages.html' %}                       
                                        {% block main %}{% endblock main %}
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% include 'footer.html' %} 
                </main>
                <!-- Modals -->
                <!-- <button class="btn btn--secondary" id="modal-small-open">Small Modal</button> -->
                <div class="modal-backdrop hide"></div>
                {% block modals %}{% endblock modals %}
                <!-- <div class="modal modal--small hide" id="modal-small" style="width: auto !important; height: auto; display: inline-block; padding-top: 15%; position: fixed;"> -->
                        <div class="modal modal--small hide" id="modal-confirm">
                                <div class="modal__dialog">
                                    <div class="modal__content">
                                        <div class="modal__header">
                                            <h1 class="modal__title">Continue?</h1>
                                        </div>
                                        <div class="modal__body">
                                           <p class="subtitle">The application will run a "show ip route vrf" and a "show ip arp vrf" command for each selected VRF.</p>
                                           <p class="subtitle">Depending on the selection, this operation could take from few to several minutes to complete.</p>
                                        </div>
                                        <div class="modal__footer">
                                            <button class="btn btn--secondary" id="modal-confirm-close">Cancel</button>
                                            <button class="btn" id="modal-confirm-continue">Continue</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
               <div class="modal modal--small hide" id="modal-small">
                    <div class="modal__dialog">
                        <div class="modal__content">
                            <div class="modal__body">
                               <p class="subtitle">This is a small width modal</p>
                            </div>
                            <div class="modal__footer">
                                <button class="btn" id="modal-small-close">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal modal--xsmall hide" id="modal-loading">
                    <div class="modal__dialog">
                        <div class="modal__content" style="padding: 10px 20px;">
                            <div class="modal__body">
                               <p id="modal-loading-text" class="subtitle"></p>
                               <div class="loading-dots loading-dots--muted" aria-label="Loading, please wait...">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <script>
                    window.location.href = "{% url 'login' %}?next={{ request.path }}";
                    //window.location.href = "{% url 'login' %}";
                </script>
            {% endif %}
        </div>
        <!-- Copyright Cisco 2018-2019 - Author: Ovesnel Mas Lara (omaslara@cisco.com) -->
    </body>
</html>
{% endspaceless %}
