{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="locale" content="US">
    <meta name="language" content="en">
    <meta name="country" content="US">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ovesnel Mas Lara (omaslara@cisco.com)">
    <title>L3 Reachability Tester</title>
    <link rel="stylesheet" href="{% static 'css/cui-standard.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/rowGroup.dataTables-1.0.4.min.css' %}">
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/se-1.2.2/datatables.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.css">
    <link rel="stylesheet" href="https://gyrocode.github.io/jquery-datatables-checkboxes/1.2.9/css/dataTables.checkboxes.css">
    <link rel="stylesheet" href="{% static 'css/select.dataTables-1.2.7.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/dataTables.checkboxes-1.2.11.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.dataTables-1.5.2.min.css' %}">
    -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.png' %}">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.png' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables-1.10.19.min.js' %}"></script>
    <!--<script src="{% static 'js/dataTables.select-1.2.7.min.js' %}"></script>
    <script src="{% static 'js/dataTables.checkboxes-1.2.11.min.js' %}"></script>-->
    <script src="{% static 'js/dataTables.checkboxes-1.2.11.js' %}"></script>
    <script src="{% static 'js/dataTables.rowGroup-1.0.4.min.js' %}"></script>
    <!--<script src="{% static 'js/dataTables.buttons-1.5.2.min.js' %}"></script>-->
    <script src="{% static 'js/celery_progress.js' %}"></script>
    <script src="{% static 'js/clipboard.js' %}"></script>
    <script src="{% static 'js/rt.js' %}"></script>
    <script>
        $(document).ready(function(){
            // Activate the corresponding STEP (li element) from the top menu.
            $(".ui-step").removeClass("active");
            $("#Step{{ step }}").addClass("active");
        });
    </script>
    <style>
        .rt-outer {
          display: table;
          position: absolute;
          height: 100%;
          width: 100%;
        }
        
        .rt-middle {
          display: table-cell;
          vertical-align: middle;
        }
        
        .rt-inner {
          margin-left: auto;
          margin-right: auto;
          width: 400px;
          /*whatever width you want*/
        }
    </style>
    {% block head %}{% endblock head %}
</head>