{% extends 'base.html' %}
{% load static %}

{% block main %}
    <script>
        $(document).ready(function () {
            // Handle form submission event 
            $("#data").submit(function () {
                $(".btn").attr("disabled", true);
                // console.log($("#operating_system").val());
                showLoadingModal('Please wait, connecting to device and collecting information...');
                return true;
            });
        });
    </script>
    {% include 'steps.html' %}
    <form id="data" action="{% url 'step2' %}" method="post">
        {% csrf_token %}
        <div class="text-center">
            <div class="subheader">Please, provide the device information:</div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group__text">
                            <input id="ip" name="ip" type="text" value="10.178.85.4" maxlength="15" pattern="^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$" required>
                            <label for="ip">IP Address*</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group__text">
                            <input id="username" name="username" type="text" value="ciscocnc" maxlength="64" required>
                            <label for="username">Username*</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="form-group__text">
                            <input id="password" name="password" type="password" value="L52tR43WSnet9bz" maxlength="64" required>
                            <label for="password">Password*</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group dropdown">
                        <div class="form-group__text select">
                            <input id="operating_system" name="os_type" value="IOS" required>
                            <label for="operating_system">
                                <span>Operating System</span>
                                <span title="this is a required field">*</span>
                            </label>
                        </div>
                        <div class="dropdown__menu">
                            <a class="selected">IOS</a>
                            <a>IOS-XE</a>
                            <a>NXOS</a>
                            <a disabled>IOS-XR (coming soon)</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row base-margin-top">
                <div class="col-md-3"></div>
                <div class="col-md-6 flex-center-vertical">
                    <div class="form-group form-group--inline form-group--compressed">
                        <div class="form-group__text">
                            <label class="switch" data-balloon="Select protocol: Telnet/SSH" data-balloon-pos="down" data-balloon-length="medium" style="width:150px">
                                <span class="switch__label qtr-padding-right">Telnet</span>
                                <input id="ssh" name="ssh" type="checkbox" checked>
                                <span class="switch__input"></span>
                                <span class="switch__label">SSH</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group form-group--inline form-group--compressed">
                        <div class="form-group__text">
                            <input id="port" name="port" type="number" value="22" min="1" max="65535" required>
                            <label for="port">Port *</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <button class="btn btn--primary base-margin-top pull-right" type="submit">Next</button>
        <!--
        <a id="modal-confirm-open" class="btn btn--secondary base-margin-top">Modal</a>
        <a href="javascript:showLoadingModal('Please wait, establishing connection to the device')" class="btn btn--secondary base-margin-top">Loading</a>
        -->
    </form>
{% endblock main %}